@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

h1 {
  color: slate;
  margin-bottom: 15px;
  text-align: right;
}

.nav {
  font-size: 20px;
}

.movielistentry {
  background: #fff;
  border: solid 1px black;
  padding: 10px;
  margin-bottom: -1px;
}

.search {
  margin-bottom: 0px;
  display: flex;
  justify-content: right;
}

#notfound {
  color: red;
}

.watched {
  display: inline-block;
}
