@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

h1 {
  color: slate;
  margin-bottom: 15px;
  text-align: right;
}


.movielistentry {
  background: #fff;
  border: solid 1px black;
  padding: 10px;
  margin-bottom: -1px;
}

.movie-title {
  display: inline-block;
  margin-bottom: 0px;
}

.watched-btn {
  display: inline-block;
  justify-content: right;
}

.movielistentry {
  text-decoration: none;
}

.movie-detail {
  font-size: 20px;
  margin-bottom: 5px;
  padding-left: 15px;
  text-decoration: none;
}

/******************************
*********** NAV ***************
******************************/

.nav {
  font-size: 20px;
}

.search {
  margin-bottom: 0px;
  display: flex;
  justify-content: right;
}

#notfound {
  color: red;
}

.watched {
  display: inline-block;
}

.active {
  background-color: #6c757d;
  color: #fff;
}
